<h1>This will be the homepage containing posts</h1>
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Selected</a></li>
        <li class="pure-menu-item"><a href="/newbar" class="pure-menu-link">Add Bar</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Profile</a></li>
    </ul>
</div>

{{#each barpost}}
<div>
    <h3><a href="{{_id}}">{{barName}}</a></h3>
    <p>{{location}}</p>
    <img src={{image}} alt="{{barName}}">
    <p>{{description}}</p>
</div>

{{/each}}