<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/index" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="/newbar" class="pure-menu-link">Add Bar</a></li>
        <li class="pure-menu-item"><a href="/myprofile" class="pure-menu-link">Profile</a></li>
    </ul>



</div>

<h2>{{barpost.barName}}</h2>
<img src={{barpost.image}} alt="{{barpost.barName}}">
<p>{{barpost.description}}</p>

<a href="/{{barpost._id}}/edit">
    <button class="pure-button">Edit Bar</button>
</a>

{{!-- <form action="/{{barpost._id}}?_method=DELETE" method="POST"> --}}
    <button class="pure-button" id="delete">Delete Bar</button>
{{!-- </form> --}}

<div class="delete-modal">
    <div>
        <p>Are you sure you want to delete?</p>
    </div>
</div>

<h3><a href="/{{barpost._id}}/comments">Comments</a></h3>
{{barpost.comments}}